<div class="container">
  <div class="row">
    <div class="col">
      <h4>商品一覧</h4>
    </div>
    <div class="col">
      <%= link_to "新規登録テスト用", new_admin_item_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to "#{item.name}", admin_item_path(item.id), style: "color: black; text-decoration:underline; text-decoration-color:black;" %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= Genre.find(item.genre_id).name %></td>
              <% if item.is_active == true %>
                <td style="color: limegreen"><strong><%= item.item_status %></strong></td>
              <% else %>
                <td style="color: silver"><strong><%= item.item_status %></strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>