<div class="container">
  <div class="row py-4">
    <div class="col-2">
      <h4 style="text-align:center; background-color: whitesmoke">商品一覧</h4>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "＋", new_admin_item_path, class: "btn btn-light rounded-circle border" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead style="background-color: whitesmoke">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to "#{item.name}", admin_item_path(item.id), style: "color: black; text-decoration:underline; text-decoration-color:black;" %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= Genre.find(item.genre_id).name %></td>
              <% if item.is_active == true %>
                <td style="color: limegreen"><strong><%= item.item_status %></strong></td>
              <% else %>
                <td style="color: silver"><strong><%= item.item_status %></strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center"><%= paginate @items %></div>