<div class="container mx-auto">
  <% if @item.errors.any? %>
    <div class="row">
      <div class="col">
        <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row py-4">
    <div class="col-2 offset-3"><h4 style="text-align:center; background-color: whitesmoke">商品新規登録</h4></div>
  </div>
  <div class="row pt-5">
    <div class="col px-0 d-flex justify-content-start offset-3">
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <div class="row py-1">
          <div class="col-5"><%= f.label :商品画像 %></div>
          <div class="col-7"><%= f.file_field :item_image, accept: "image/*" %></div>
        </div>
        <div class="row py-1">
          <div class="col-5"><%= f.label :商品名 %></div>
          <div class="col-7"><%= f.text_field :name, placeholder: "商品名", style: "width: 100%;" %></div>
        </div>
        <div class="row py-1">
          <div class="col-5"><%= f.label :商品説明 %></div>
          <div class="col-7"><%= f.text_area :introduction, rows:5, placeholder: "ここに説明文を記述します" %></div>
        </div>
        <div class="row py-1">
          <div class="col-5"><%= f.label :ジャンル %></div>
          <div class="col-7"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></div>
        </div>
        <div class="row py-1">
          <div class="col-5"><%= f.label :税抜価格 %></div>
          <div class="col-7"><%= f.text_field :price, placeholder: "1000" %>円</div>
        </div>
        <div class="row py-1">
          <div class="col-5"><%= f.label :販売ステータス %></div>
          <div class="col-7">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", {value: :true} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false} %>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-5"><%= f.submit "新規登録", class: "btn btn-success" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>