<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col my-4">
      <h2>ようこそ、ながのCAKEへ！</h2>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <%= image_tag('cake_store.jpg', width: 700, height: 200) %>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <h3>新着商品</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <% @new_item.each do|new_item| %>
    <div class="col-2 mx-4">
      <p><%= image_tag new_item.get_item_image(150,150) %></p>
      <p><%= new_item.name %></p>
      <p>￥<%= new_item.price.to_s(:delimited) %></p>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-end">
      <%= link_to "全ての商品を見る＞", items_path %>
    </div>
  </div>
</div>