<div class="container">
  <div class="row">
    <div class="col my-3">
      <h3>
        <span class="bg-secondary text-white "><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>会員ID</p>
    </div>
    <div class="col">
      <p><%= @customer.id %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>氏名</p>
    </div>
    <div class="col">
      <%= @customer.last_name %><%= @customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>フリガナ</p>
    </div>
    <div class="col">
      <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>郵便番号</p>
    </div>
    <div class="col">
      <%= @customer.post_code %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>住所</p>
    </div>
    <div class="col">
      <p><%= @customer.address %></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>電話番号</p>
    </div>
    <div class="col">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>メールアドレス</p>
    </div>
    <div class="col">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>会員ステータス</p>
    </div>
    <div class="col">
      <%= @customer. customer_status %>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success m-4'%>
      <%= link_to "注文一覧を見る", admin_path, class: 'btn btn-primary m-4' %>
    </div>
  </div>
</div>