<h3>注文履歴詳細</h3>

<div class="container">
  <div class="row d-flex" >
    <div class="col">
      <p>購入者</p>
      <p>注文日</p>
      <p>配送先</p><br>
      <p>支払方法</p>
      <p>注文ステータス</p>
    </div>
    <div class="col">
      <p><%= @order.customer.last_name %></p>
      <p><%= @order.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= @order.address %></p>
      <p><%= @order.name %></p>
      <p><%= @order.payment_method_i18n %></p>
      <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
        <%= f.select :status, Order.statuses.keys.map { |status| [I18n.t("enums.order.statuses.#{status}"), status] } %>
      <% end %>
    </div>
  </div>
</div>

