<h3>配送先編集</h3>

<%= form_with model: @address, url: address_path(@address), method: :patch do |form| %>
  <div>
    <%= form.label :post_code, '郵便番号' %>
    <%= form.text_field :post_code %>
  </div>
  <div>
    <%= form.label :address, '住所' %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :name, '宛名' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit '変更内容保存', class:"btn btn-success" %>
  </div>
<% end %>
