<div class="container">
  <div class="row my-4">
    <div class="col-5">
      <h1 style="text-align:center; background-color: whitesmoke">配達新規登録/一覧</h1>
    </div>
  </div>
    <%= form_with model: @address, local: true do |form| %>
    <div class="row my-2">
      <div class="col-3">
        <%= form.label :post_code, '郵便番号(ハイフンなし)' %>
      </div>
      <div class="col-3">
        <%= form.text_field :post_code, class: 'form-control' %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3">
      <%= form.label :address, '住所' %>
      </div>
      <div class="col-5">
      <%= form.text_field :address, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= form.label :name, '宛名' %>
      </div>
      <div class="col-3">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <%= form.submit '　新規登録　', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
  <!-- 配達先リスト -->
  <div class="row my-4">
    <div class="col">
      <table class="table table-bordered">
        <thead style="background-color: whitesmoke">
          <tr>
            <th class="col-1">郵便番号</th>
            <th class="col-3">住所</th>
            <th class="col-2">宛名</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td class="col-1"><%= address.post_code %></td>
            <td class="col-3"><%= address.address %></td>
            <td class="col-2"><%= address.name %></td>
            <td class="col-2" style="text-align:center">
              <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success", type: "button" %>&emsp;<!--&emsp;全角ペース-->
              <%= link_to "削除する",address, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn  btn-danger", type: "button" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>