<div class="container">
  <div class="row my-5">
    <div class="col">
      <h4>
        <span class="bg-secondary text-white p-2 rounded">ショッピングカート</span>
      </h4>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row my-5">
    <table class="table table-bordered border-dark">
      <tr class="table-active">
        <th>商品名</th>
        <th>単価(税込み)</th>
        <th>数量</th>
        <th>小計</th>
        <!--タグの中にbrタグを入れると空白のセルを作れる-->
        <th><br></th>
      </tr>
      <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
            <!--attachment_image_tag cart_item.item_image(50,50) 画像表示の記述が必要-->
            <%= cart_item.item.name %>
        </td>
        <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
        <td>
            <%= form_with model:cart_item, url:cart_item_path(cart_item.id), local:true do |f| %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "変更" , class: "btn btn-success" %>
            <% end %>
        </td>
        <td><%= cart_item.subtotal.to_s(:delimited) %></td>
        <td><%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "date-confirm" => "商品を削除しますか？", class: "btn btn-danger" %></td>
      </tr>
      <% @sum += cart_item.subtotal %>
      <% end %>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
      <table class="table table-bordered border-dark">
        <tr>
          <th class="table-active">合計金額</th>
          <td><%= @sum.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5 d-flex justify-content-center">
      <%= link_to "情報入力に進む", orders_path, class: "btn btn-success" %>
    </div>
  </div>
</div>