<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table class="table table-borderless">
    <tr>
      <td><p>名前</p></td>
      <td><%= f.label :first_name, "（性）" %></td>
      <td><%= f.text_field :first_name, autofocus: true%></td>

      <td><%= f.label :last_name, "（名）"%></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><p>フリガナ</p></td>
      <td><%= f.label :first_name_kana, "（セイ）" %></td>
      <td><%= f.text_field :first_name_kana %></td>

      <td><%= f.label :last_name_kana, "（メイ）" %></td>
      <td><%= f.text_field :last_name_kana %></td>
    </tr>
    <tr>
      <td><p>メールアドレス</p></td>
      <td></td>
      <td><%= f.email_field :email%></td>
    </tr>
    <tr>
      <td><p>郵便番号（ハイフンなし）</p></td>
      <td></td>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <td><p>住所</p></td>
      <td></td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td><p>電話番号(ハイフンなし)</p></td>
      <td></td>
      <td><%= f.text_field :telephone_number ,placeholder: "aaa"%></td>
    </tr>
  </table>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
