<div class="container">
  <div class="row-4 my-4">
    <h2>ログイン</h2>
    <div class="col-4">
      <% if flash[:alert].present? %>
        <div class="alert alert-danger" style="border-radius: 10px;">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    
  </div>
  <div class="row-4 my-4">
    <h5 class="mt-5">会員の方はこちらからログイン</h5>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class ="col"></div>
      <div class="col text-allign:center">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    <div class="row mt-4">
      <div class ="col"></div>
      <div class="col text-allign:center">
        <%= f.label :パスワード %>
      </div>
      <div class="col">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <%= f.submit "ログイン" ,class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="row-4 my-4">
      <h5>会員登録がお済でない方</h5><br>
      <div class="col ml-5">
        <%= render "public/shared/links" %>から新規登録を行ってください。
      </div>
  <% end %>
  
  
  
