<header>
  <nav class="navbar navbar-expand-lg"  style="background-color: #333; padding: 15px 20px;">
    <div class="container">
      <div class="row w-100">
        <!-- ロゴを左に配置 -->
        <div class="col-3 d-flex align-items-center">
          <a class="navbar-brand" href="/" style="font-size: 24px; font-weight: bold; color: #fff;">
            <span>Nagano Cake</span>
          </a>
        </div>
        <!-- 右側のメニューを一番右に配置 -->
        <div class="col-9">
          <div class="d-flex justify-content-end">
            <ul class="navbar-nav d-flex flex-row">
              <li>
                <%= link_to "商品一覧", admin_items_path, class: "btn btn-light", type: "button",  style: "background-color: #a9a9a9; color: black; border-radius: 5px; padding: 10px 20px; text-decoration: none;" %>
              </li>
              <li>
                <%= link_to "会員一覧", admin_customers_path, class: "btn btn-light", type: "button", style: "background-color: #a9a9a9; color: black; border-radius: 5px; padding: 10px 20px; text-decoration: none;" %>
              </li>
              <li>
                <%= link_to "注文履歴一覧", admin_path, class: "btn btn-light", type: "button", style: "background-color: #a9a9a9; color: black; border-radius: 5px; padding: 10px 20px; text-decoration: none;" %>
              </li>
              <li>
                <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-light", type: "button", style: "background-color: #a9a9a9; color: black; border-radius: 5px; padding: 10px 20px; text-decoration: none;" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-light", type: "button", style: "background-color: #a9a9a9; color: black; border-radius: 5px; padding: 10px 20px; text-decoration: none;" %>
              </li>
            </ul>
          </div>
          <!-- 検索窓をメニューの下に配置 -->
          <div class="d-flex justify-content-end mt-2">
            <div class="search-container"  style="background-color: #444; padding: 10px; border-radius: 5px;">
              <%= form_with url: admin_search_path, method: :get, local: true do |form| %>
                <div class="input-group" style="max-width: 300px;">
                  <%= form.text_field :q, placeholder: "Search", style: "border-radius: 5px 0 0 5px; border-color: #007bff; background-color: white; color: black;" %>
                  <div class="input-group-append">
                    <%= form.submit "検索", class: "btn btn-outline-secondary",style: "background-color: white; color: black; border-radius: 0 5px 5px 0; border-color: #007bff;"  %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>