<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="row">
        <!-- ロゴを左に配置 -->
        <div class="col-3 d-flex align-items-center">
          <a class="navbar-brand" href="/">
            <span>Nagano Cake</span>
          </a>
        </div>
        <!-- 真ん中にメッセージ -->
        <div class="col-3 d-flex justify-content-center align-items-center">
          <p>ようこそ、<%= current_customer.last_name %>さん!</p>
        </div>
        <!-- 右側にメニューを配置 -->
        <div class="col-6 d-flex justify-content-end align-items-center">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
              <%= link_to "マイページ", customers_path, class: "btn btn-light", type: "button" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", items_path, class: "btn btn-light", type: "button" %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", cart_items_path, class: "btn btn-light", type: "button" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-light", type: "button" %>
            </li>
          </ul>
        </div>
        <!-- 検索窓をメニューの下に配置 -->
        <div class="col-12 d-flex justify-content-end mt-2">
          <div class="search-container">
            <%= form_with url: search_path, method: :get, local: true do |form| %>
              <div class="input-group">
                <%= form.text_field :q, class: "form-control", placeholder: "Search" %>
                <div class="input-group-append">
                  <%= form.submit "検索", class: "btn btn-outline-secondary" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>